{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div style="min-height:550px">
  <div id="top-breadcrumb">
    <ol class="breadcrumb" style="background-color:#fff;">
      <li class="breadcrumb-item"><a href="{% url 'main:home'%}" style="color:black">BullrunICO</a></li>
      <li class="breadcrumb-item active">NEWS</li>
    </ol>
  </div>

  <div class="row">
    {% for item in news %}
    <a href="{% url 'blog:home' item.title|slugify|slice:':10' forloop.counter0 %}">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="blog-card">
          <div class="blog-image">
          {%if item.photo %}  
            <img class="img-fluid" src="{% static item.photo %}">
          {%endif%}
          </div>
          <div class="blog-title">
            <a href="#"><p>{{item.title}}</p></a>
          </div>
          <div class="author-date">
            <span id="author">By {{item.author_name}}</span>
            <span id="date">
              {% if item.date_info == 0 %}
                A few moments Ago
              {% else %}
                {{ item.date_info }} Hours Ago
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}    
  </div>
</div>

{% endblock %}
