{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div style="min-height:550px">
  <div id="top-breadcrumb">
    <ol class="breadcrumb" style="background-color:#fff;">
      <li class="breadcrumb-item"><a href="{% url 'main:home'%}" style="color:black">BullrunICO</a></li>
      <li class="breadcrumb-item active">NEWS</li>
    </ol>
  </div>

  <div class="row">
    <a href="#">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="blog-card">
          <div class="blog-image">
            <img class="img-fluid" src="http://www.bullrunico.com/static/News/Photo/story1.png" alt="blog image">
          </div>
          <div class="blog-title">
            <a href="#"><p>Bitcoin, Ethereum, Bitcoin Cash, Ripple, Stellar, Litecoin, Cardano, NEO, EOS: Price Analysis, March 12</p></a>
          </div>
          <div class="author-date">
            <span id="author">By admin</span>
            <span id="date">2 hours ago</span>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="blog-card">
          <div class="blog-image">
            <img class="img-fluid" src="https://cointelegraph.com/images/373_Ly9jb2ludGVsZWdyYXBoLmNvbS9zdG9yYWdlL3VwbG9hZHMvdmlldy85MDA3OWJlZDhmNzE0MWIyZmM0N2Y5NzE3M2UwOTgyZC5qcGc=.jpg" alt="blog image">
          </div>
          <div class="blog-title">
            <a href="#"><p>this is a blog title</p></a>
          </div>
          <div class="author-date">
            <span id="author">By admin</span>
            <span id="date">2 hours ago</span>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="blog-card">
          <div class="blog-image">
            <img class="img-fluid" src="https://cointelegraph.com/images/373_Ly9jb2ludGVsZWdyYXBoLmNvbS9zdG9yYWdlL3VwbG9hZHMvdmlldy85MDA3OWJlZDhmNzE0MWIyZmM0N2Y5NzE3M2UwOTgyZC5qcGc=.jpg" alt="blog image">
          </div>
          <div class="blog-title">
            <a href="#"><p>this is a blog title</p></a>
          </div>
          <div class="author-date">
            <span id="author">By admin</span>
            <span id="date">2 hours ago</span>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="blog-card">
          <div class="blog-image">
            <img class="img-fluid" src="https://cointelegraph.com/images/373_Ly9jb2ludGVsZWdyYXBoLmNvbS9zdG9yYWdlL3VwbG9hZHMvdmlldy85MDA3OWJlZDhmNzE0MWIyZmM0N2Y5NzE3M2UwOTgyZC5qcGc=.jpg" alt="blog image">
          </div>
          <div class="blog-title">
            <a href="#"><p>this is a blog title</p></a>
          </div>
          <div class="author-date">
            <span id="author">By admin</span>
            <span id="date">2 hours ago</span>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="blog-card">
          <div class="blog-image">
            <img class="img-fluid" src="https://cointelegraph.com/images/373_Ly9jb2ludGVsZWdyYXBoLmNvbS9zdG9yYWdlL3VwbG9hZHMvdmlldy85MDA3OWJlZDhmNzE0MWIyZmM0N2Y5NzE3M2UwOTgyZC5qcGc=.jpg" alt="blog image">
          </div>
          <div class="blog-title">
            <a href="#"><p>this is a blog title</p></a>
          </div>
          <div class="author-date">
            <span id="author">By admin</span>
            <span id="date">2 hours ago</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

{% endblock %}
