{% extends "main/base.html" %}
{% block seo%}
<title> {{news.title}} </title>
<meta name="description" content="{{news.content|striptags|slice:':255'}}">
{% endblock %}
{% load static %}
{% block content %}
<div style="min-height:450px">
    <div id="top-breadcrumb">
        <ol class="breadcrumb" style="background-color:#fff;">
            <li class="breadcrumb-item"><a href="{% url 'main:home'%}" style="color:black">BullrunICO</a></li>
            <li class="breadcrumb-item active">NEWS</li>
        </ol>
    </div>

    <!-- Title -->
    <div class="text-uppercase" style="text-align:center">
		<h4>{{news.title}}</h4>
    </div>

    <!-- media : photo or video -->
    <div style="text-align:center;margin-top:30px;">
		{% if news.photo %}
		<div class="col-12" style="margin-bottom:20px;">
			<img class="img-fluid" src="{% static news.photo %}" alt="blog photo">
		</div>
		{% endif %}

		{% if news.movie_url%}
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8" id="ico-video">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="{{ news.movie_url }}" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-2"></div>
		</div>
		{% endif %}
    </div>

	<!-- contents -->
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8" style="text-align:justify;margin-top:30px;">
			{{ news.content |safe }}
		</div>
		<div class="col-2"></div>
	</div>
    <!-- sponsor or news or analysis -->
    <div class="row" style="margin-top:30px;">
		<div class="col-2"></div>
		<div class="col-4" style="text-align:left">
			<div style="width:100px;height:25px;background-color:rgb(255, 217, 1);text-align:center;box-shadow:2px 4px 2px #000;">
				<p>{{ news.sponsor }}</p>
			</div>
		</div>
		<div class="col-4" style="text-align:right">
			{% if news.date_info == 0%}
				<p> A few moments Ago</p>
			{% else %}
				<p>{{ news.date_info }} Hours Ago</p>
			{% endif %}
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row author">
		<div class="col-2"></div>
		<div class="col-4"></div>
		<div class="col-4">
			<div style="float:right">
				<div class="author-img">
					<img class="img-fluid rounded-circle" src="{% static news.author_image %}" alt="auther photo">
				</div>
				<span>By </span><span style="font-weight:700"> {{news.author_name}}</span>
			</div>
		</div>
		<div class="col-2"></div>
	</div>

	<div style="text-align:center; margin-top:60px;">
		<div>
			<h4>Share our news</h4>
		</div>
		<div style="margin-top:30px;">
			<ul style="list-style:none;">
				<li style="display:inline-block; margin:auto 50px;"><a href="twitter" style="color:black;"><i class="fab fa-twitter"></i><span>   Twitter 33K</span></a></li>
				<li style="display:inline-block; margin:auto 50px;"><a href="telegram" style="color:black;"><i class="fab fa-telegram"></i><span>   Telegram 33K</span></a></li>
				<li style="display:inline-block; margin:auto 50px;"><a href="instagram" style="color:black;"><i class="fab fa-instagram"></i><span>   Instagram 33K</span></a></li>
				<!-- <li style="display:inline-block; margin:auto 50px;"><a href="facebook" style="color:black;"><i class="fab fa-facebook"></i><span>   BullRunICO</span></a></li> -->
			</ul>
		</div>
	</div>
	<!-- ==============================disqus====================================== -->
	<div id="disqus_thread"></div>

	<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

		var disqus_config = function () {
		this.page.url = 'http://www.bullrunico.com/blog/';  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = 'bullrunico'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};

		(function() {
			// DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = 'https://bullrun.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</div>

{% endblock %}


<!--
<h1> Title : {{news.title}}</h1>
{% if news.photo %}
	<h1> Photo : {{news.photo}}</h1>
{% else%}
	<h1> Photo : No Photo</h1>
{% endif %}
{% if news.movie_url%}
	<h1> Movie : {{news.movie_url}}</h1>
{% else%}
	<h1> Movie : No Movie</h1>
{% endif %}
<h1>Content : {{news.content}}</h1>
{% if news.date_info == 0%}
	<h2> A few moments Ago</h2>
{% else %}
	<h2>{{news.date_info}} Hours Ago</h2>
{% endif %}
-->
