{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div id="top-breadcrumb">
    <ol class="breadcrumb" style="background-color:#fff;">
        <li class="breadcrumb-item"><a href="{% url 'main:home'%}" style="color:black">BullrunICO</a></li>
        <li class="breadcrumb-item active">About</li>
    </ol>
</div>
<div style="margin-top:40px;">
    <div style="text-align:center;">
        <h4>ABOUT US</h4>
    </div>
    <div style="width:80%; margin:20px auto; text-align:justify;">
        BullrunICO aims to be the leading database and information source when it comes to ICO investing. Our primary goal is to bring real value to our audience and community, providing accurate and transparent data to our customers as also right investment strategies on how to build a strong portfolio from the ground up so you can overcome any circumstances it may come to you as an investor.  At BullRunICo we only list ICO's that have been approved by general community advisors, popular ICO's investment websites and also our investigation team. Please, be noticed that we strongly advise you to do your research and never rely on just one source of information no matter how good they are or have been in the past, always do your research.
    </div>
    {% load custom_tags %}
    {% contact %}
</div>

{% endblock %}