{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div style="margin-top:40px;">
    <div style="text-align:center;">
        <h4>ADVERTISING</h4>
    </div>
    <div style="width:80%; margin:20px auto; text-align:left;">
        <h6>Benefits to working with us:</h6>
        <ul>
            <li> We only have one banner ad slot with no rotation.</li>
            <li> Excellent visibility, at the top;</li>
            <li> Your project will be visible on each page of our website;</li>
            <li> BullRunICO will be redesigned expecially for your project;</li>
        </ul>
        <h6>Conditions:</h6>
        <ul>
            <li> We accept BTC, ETH and Altcoins as payment.</li>
            <li> 0,2 BTC / month</li>
        </ul>
    </div>
    {% load custom_tags %}
    {% contact %}
</div>

{% endblock %}