{% extends "main/base.html" %}
{% load static %}
{% block content %}

{% if category_type == "active" %}
<div class="col-lg-12" style="padding:0;margin-top:20px;">
	<div style="padding-left:10px;">
		<h4>ACTIVE ICO</h4>
	</div>
	<div>
		<table class="table table-hover ico-table">
			<thead class="thead-dark">
				<th>PROJECT</th>
				<th>INTEREST</th>
				<th>CATEGORY</th>
				<th>RECEIVED</th>
				<th>GOAL</th>
				<th>END DATE</th>
				<th>TAGS</th>
			</thead>
			<tbody>
				{% for ico in icos %}
				<tr>
					<td class="table-td">
						<a href="{% url 'main:detail' ico.id %}">
							<img class="img-fluid rounded-circle" src="{% static ico.logo_pic %}" alt="logo" width="50px" height="50px">  {{ ico.name }}
						</a>
					</td>
					<td class="table-td">Interest</td>
					<td class="table-td">{{ ico.category }}</td>
					<td class="table-td">undefined</td>
					<td class="table-td">undefined</td>
					<td class="table-td">{{ ico.date_info }} left</td>
					<td class="table-td">???</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% elif category_type == "upcoming" %}
<div class="col-lg-12" style="padding:0;margin-top:20px;">
	<div style="padding-left:10px;">
		<h4>UPCOMING ICO</h4>
	</div>
	<div>
		<table class="table table-hover ico-table">
			<thead class="thead-dark">
				<th>PROJECT</th>
				<th>INTEREST</th>
				<th>CATEGORY</th>
				<th>GOAL</th>
				<th>START DATE</th>
				<th>TAGS</th>
			</thead>
			<tbody>
				{% for ico in icos %}
				<tr>
					<td class="table-td">
						<a href="{% url 'main:detail' ico.id %}">
							<img class="img-fluid rounded-circle" src="{% static ico.logo_pic %}" alt="logo" width="50px" height="50px">  {{ ico.name }}
						</a>
					</td>
					<td class="table-td">Interest</td>
					<td class="table-td">{{ ico.category }}</td>
					<td class="table-td">undefined</td>
					<td class="table-td">{{ ico.date_info }}</td>
					<td class="table-td">???</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% elif category_type == "ended" %}
<div class="col-lg-12" style="padding:0;margin-top:20px;">
	<div style="padding-left:10px;">
		<h4>ENDED ICO</h4>
	</div>
	<div>
		<table class="table table-hover ico-table">
			<thead class="thead-dark">
				<th>PROJECT</th>
				<th>INTEREST</th>
				<th>CATEGORY</th>
				<th>RECEIVED</th>
				<th>GOAL</th>
				<th>END DATE</th>
				<th>MARKET</th>
			</thead>
			<tbody>
				{% for ico in icos %}
				<tr>
					<td class="table-td">
						<a href="{% url 'main:detail' ico.id %}">
							<img class="img-fluid rounded-circle" src="{% static ico.logo_pic %}" alt="logo" width="50px" height="50px">  {{ ico.name }}
						</a>
					</td>
					<td class="table-td">Interest</td>
					<td class="table-td">{{ ico.category }}</td>
					<td class="table-td">undefined</td>
					<td class="table-td">undefined</td>
					<td class="table-td">{{ ico.date_info }}</td>
					<td class="table-td">?????</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endif %}

{% endblock %}

<!DOCTYPE html>
<html>
<head>
	<title>Category</title>
</head>
<body>
	<div style="display: flex;">
		<div class="row" style="margin-left: 10px;float:left;">		
			{%for ico in icos%}
			<div>

				<p>Logo</p>
				<img src= "{% static ico.logo_pic %}" alt="SyncFab How it works">
				<h4>	{{ico.name}}	</h4>
				<h4>	{{ico.category}}	</h4>
				<h4>	undefined ? have to ask	</h4>
				<h4>	{{ ico.date_info}}d left</h4>
				
			</div>
			{% endfor %}
		</div>
	</div>
	
</body>
</html>


