<div style="text-align:center; margin-top:60px;">
    <div>
        <h4>CONTACTS</h4>
    </div>
    <div style="margin-top:60px;">
        <ul style="list-style:none;">
            <li style="display:inline-block; margin:auto 50px;"><a href="twitter" style="color:black;"><i class="fab fa-twitter"></i><span>   BullRunICO</span></a></li>
            <li style="display:inline-block; margin:auto 50px;"><a href="telegram" style="color:black;"><i class="fab fa-telegram"></i><span>   BullRunICO</span></a></li>
            <li style="display:inline-block; margin:auto 50px;"><a href="instagram" style="color:black;"><i class="fab fa-instagram"></i><span>   BullRunICO</span></a></li>
            <li style="display:inline-block; margin:auto 50px;"><a href="facebook" style="color:black;"><i class="fab fa-facebook"></i><span>   BullRunICO</span></a></li>
        </ul>
    </div>
    <div style="margin-top:30px;">
        <H6>Email: support@bullrunico.com</H6>
    </div>
</div>