{%load static%}
<div class="text-center" style="background-color: yellow; box-shadow: none; padding-top:5px;padding-bottom:5px;">
    <div style="display:inline-block">        
        <a href="{{ads.url_button}}" target="_blank">
            <img class="ad-logo" src="{% static ads.logo_pic %}" alt="the-top" style="height: 30px;">
        </a>
    </div>
    <div class="the-top-banner-text"  style="display:inline-block">
     <span class="ad-description" style="color:rgb(0, 0, 0);"> {{ads.text}}</span>               
<!--                     <span class="ad-description" style="color:rgb(0, 0, 0);"> COPYTRACK –  JOIN THE COPYRIGHT REVOLUTION | $10M+ ALREADY RAISED</span> -->
        <span>
            <a class="btn btn-sm" href="{{ads.url_button}}" target="_blank" rel="nofollow" style="vertical-align: 2px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);">SECURE BONUS NOW</a>

        </span>
    </div>
</div>