{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div style="min-height:450px">
    <div id="top-breadcrumb">
        <ol class="breadcrumb" style="background-color:#fff;">
            <li class="breadcrumb-item"><a href="{% url 'main:home'%}" style="color:black">BullrunICO</a></li>
            <li class="breadcrumb-item active">NEWS</li>
        </ol>
    </div>

    <!-- Title -->
    <div>
    1111111111111111111111111111111111111111111111111
    </div>

    <!-- media : photo or video -->
    <div>

    </div>

    <!-- contents -->
    <div>

    </div>

    <!-- sponsor or news or analysis -->
    <div>

    </div>

</div>

{% endblock %}